<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <description>
        Definición de los beans del servicio interno FILE
    </description>

    <bean name="fileNamingUtil" class="org.librae.common.file.impl.FileNamingUtilImpl"></bean>

    <bean name="fileSystemUtil" class="org.librae.common.file.impl.FileSystemUtilImpl"></bean>
    
    <bean name="ioUtil" class="org.librae.common.file.impl.IOUtilImpl"></bean>
    
</beans>
