<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="true">

	<description>
		Definición de los beans de los Managers de la capa service y los
		aspectos.
	</description>

    <!-- Capturamos de librae-context-ear la declaración de Transactional -->
    <import resource="classpath*:earContext.xml"/>

	<!-- =================================================================== -->
	<!-- Managers: For accessing DAOs                                        -->
	<!-- =================================================================== -->

    <!--RolManager-START-->
    <bean id="rolManager" class="org.librae.adminconfig.service.impl.RolManagerImpl">
        <constructor-arg ref="rolDAO"/>
        <property name="permisoDao" ref="permisoDAO" />
        <property name="permisoRolDao" ref="permisoRolDAO" />
        <property name="tipoPermisoDao" ref="tipoPermisoDAO" />
        <property name="usuarioBibliotecaRolDao" ref="usuarioBibliotecaRolDAO" />
        <property name="bibliotecaDao" ref="bibliotecaDAO" />
        <property name="usuarioDao" ref="usuarioDAO" />
    </bean>
    <!--RolManager-END-->

    <!--UsuarioManager-START-->
    <bean id="usuarioManager" class="org.librae.adminconfig.service.impl.UsuarioManagerImpl">
        <constructor-arg ref="usuarioDAO"/>
        <property name="tipoIdentificacionDao" ref="tipoIdentificacionDAO" />
        <property name="tratamientoDao" ref="tratamientoDAO" />
        <property name="bibliotecaDao" ref="bibliotecaDAO" />
        <property name="arboledaFacade" ref="arboledaFacadeAdminconfig" />
        <property name="rolDao" ref="rolDAO"/>
    </bean>
    <!--UsuarioManager-END-->

    <!--DireccionManager-START-->
    <bean id="direccionManager" class="org.librae.adminconfig.service.impl.DireccionManagerImpl">
        <constructor-arg ref="direccionDAO"/>
        <property name="comunidadDao" ref="comunidadAutonomaDAO" />
        <property name="provinciaDao" ref="provinciaDAO" />
        <property name="municipioDao" ref="municipioDAO" />
        <property name="localidadDao" ref="localidadDAO" />
        <property name="paisDao" ref="paisDAO" />
        <property name="tipoViaDao" ref="tipoViaDAO" />
    </bean>
    <!--DireccionManager-END-->

    <!--BibliotecaManager-START-->
    <bean id="bibliotecaManager" class="org.librae.adminconfig.service.impl.BibliotecaManagerImpl">
        <constructor-arg ref="bibliotecaDAO"/>
        <property name="tipoBibliotecaDao" ref="tipoBibliotecaDAO" />
        <property name="valorCodigoDao" ref="valorCodigoDAO"></property>
        <property name="asignacionValorCodigoDao" ref="asignacionValorCodigoDAO"></property>
		<property name="arboledaFacade" ref="arboledaFacadeAdminconfig"/>
		<property name="festivoDao" ref="festivoDAO"/>
		<property name="direccionDao" ref="direccionDAO"/>
		<property name="bibliotecaViewDao" ref="bibliotecaViewDAO"/>
    </bean>
    <!--BibliotecaManager-END-->

    <!--TratamientoManager-START-->
    <bean id="tratamientoManager" class="org.librae.adminconfig.service.impl.TratamientoManagerImpl">
        <constructor-arg ref="tratamientoDAO"/>
    </bean>
    <!--TratamientoManager-END-->

    <!--CatalogoManager-START-->
    <bean id="catalogoManager" class="org.librae.adminconfig.service.impl.CatalogoManagerImpl">
        <constructor-arg ref="catalogoDAO"/>
    </bean>
    <!--CatalogoManager-END-->

    <!--CalendarioManager-START-->
    <bean id="calendarioManager" class="org.librae.adminconfig.service.impl.CalendarioManagerImpl">
        <constructor-arg ref="calendarioDAO"/>
    </bean>
    <!--CalendarioManager-END-->

    <!--FestivoManager-START-->
    <bean id="festivoManager" class="org.librae.adminconfig.service.impl.FestivoManagerImpl">
        <constructor-arg ref="festivoDAO"/>
    </bean>
    <!--FestivoManager-END-->

    <!--HorarioManager-START-->
    <bean id="horarioManager" class="org.librae.adminconfig.service.impl.HorarioManagerImpl">
        <constructor-arg ref="horarioDAO"/>
        <property name="horarioIntDao" ref="horarioIntDAO"/>
    </bean>
    <!--HorarioManager-END-->

    <!--HorarioIntManager-START-->
    <bean id="horarioIntManager" class="org.librae.adminconfig.service.impl.HorarioIntManagerImpl">
        <constructor-arg ref="horarioIntDAO"/>
    </bean>
    <!--HorarioIntManager-END-->

	<!--MenuManager-START-->
	<bean id="menuManager" class="org.librae.adminconfig.service.impl.MenuManagerImpl">
		<constructor-arg ref="menuDAO"/>
		<property name="consorcioDao" ref="consorcioGenericDAO" />
		<property name="favoritoDao" ref="favoritoDAO" />
		<property name="favoritoUsuarioDao" ref="favoritoUsuarioDAO" />
	</bean>
	<!--MenuManager-END-->

    <!--ParametroManager-START-->
    <bean id="parametroManager" class="org.librae.adminconfig.service.impl.ParametroManagerImpl">
        <constructor-arg ref="parametroDAO"/>
    </bean>
    <!--ParametroManager-END-->

    <!--CodigoBibliotecaManager-START-->
    <bean id="codigoManager" class="org.librae.adminconfig.service.impl.CodigoManagerImpl">
        <constructor-arg ref="codigoDAO"/>
		<property name="tipoCodigoDao" ref="tipoCodigoDAO" />
		<property name="valorCodigoDao" ref="valorCodigoDAO" />
		<property name="tipoBibliotecaDao" ref="tipoBibliotecaDAO" />
    </bean>
    <!--CodigoBibliotecaManager-END-->

    <!--ComboManager-START-->
    <bean id="comboManager" class="org.librae.adminconfig.service.impl.ComboManagerImpl">
		<property name="tratamientoDao" ref="tratamientoDAO" />
		<property name="tipoCodigoDao" ref="tipoCodigoDAO" />
		<property name="tipoIdentificacionDao" ref="tipoIdentificacionDAO" />
		<property name="rolDao" ref="rolDAO" />
		<property name="tipoBibliotecaDao" ref="tipoBibliotecaDAO" />
		<property name="tipoEjemplarDao" ref="ejemplarTipoADMGenericDAO" />
		<property name="politicaPrestamoDao" ref="politicaPrestamoADMGenericDAO" />
		<property name="politicaReservaDao" ref="politicaReservaADMGenericDAO" />
		<property name="tipoLectorDao" ref="tipoLectorADMGenericDAO" />
		<property name="paisDao" ref="paisDAO" />
		<property name="comAutonomaDao" ref="comunidadAutonomaDAO" />
		<property name="provinciaDao" ref="provinciaDAO" />
		<property name="municipioDao" ref="municipioDAO" />
		<property name="tipoPermisoDao" ref="tipoPermisoDAO" />
		<property name="localidadDao" ref="localidadDAO" />
		<property name="tipoViaDao" ref="tipoViaDAO" />
		<property name="lectorDao" ref="lectorADMGenericDAO"/>
		<property name="estadoReservaDao" ref="estadoReservaADMGenericDAO"/> 
		<property name="tipoTransformJobDao" ref="tipoTransformJobADMGenericDAO"/>
		<property name="tipoPeticionPIBDao" ref="tipoPeticionPIBADMGenericDAO"/>
		<property name="estadoPeticionPIBDao" ref="estadoPeticionPIBADMGenericDAO"/>
		<property name="tipoResolucionPIBDao" ref="tipoResolucionPIBADMGenericDAO"/>
		<property name="tipoEventoPIBDao" ref="tipoEventoPIBADMGenericDAO"/>
		<property name="alcancePeticionPIBDao" ref="alcancePeticionPIBADMGenericDAO"/>
		<property name="workflowDao" ref="workflowUtils"/>
		<property name="codigoNcipServiciosDao" ref="codigoNcipServicioADMGenericDAO"></property>
    </bean>
    <!--ComboManager-END-->

    <bean id="tipoIdentificacionManager" class="org.librae.adminconfig.service.impl.TipoIdentificacionManagerImpl">
        <constructor-arg ref="tipoIdentificacionDAO"/>
    </bean>

	<bean id="favoritoManager" class="org.librae.adminconfig.service.impl.FavoritoManagerImpl">
		<property name="favoritoUsuarioDao" ref="favoritoUsuarioDAO" />
		<property name="favoritoDao" ref="favoritoDAO" />
	</bean>

	<bean id="favoritoUsuarioManager" class="org.librae.adminconfig.service.impl.FavoritoUsuarioManagerImpl">
		<constructor-arg ref="favoritoUsuarioDAO"/>
	</bean>

    <!-- Add new Managers here -->

    <bean id="permisoManager" class="org.librae.adminconfig.service.impl.PermisoManagerImpl">
        <constructor-arg ref="permisoDAO"/>
        <property name="tipoPermisoDao" ref="tipoPermisoDAO" />
    </bean>

    <bean id="usuarioBibliotecaRolManager" class="org.librae.adminconfig.service.impl.UsuarioBibliotecaRolManagerImpl">
        <constructor-arg ref="usuarioBibliotecaRolDAO"/>
    </bean>

</beans>
