<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Entidades del subsistema: Administración y Configuración -->
        <mapping class="org.librae.adminconfig.model.Provincia" />
        <mapping class="org.librae.adminconfig.model.ComunidadAutonoma" />
        <mapping class="org.librae.adminconfig.model.Municipio" />
        <mapping class="org.librae.adminconfig.model.Localidad" />
        <mapping class="org.librae.adminconfig.model.Rol" />
        <mapping class="org.librae.adminconfig.model.Permiso" />
        <mapping class="org.librae.adminconfig.model.PermisoRol" />
        <mapping class="org.librae.adminconfig.model.Usuario" />
        <mapping class="org.librae.adminconfig.model.Pais" />
        <mapping class="org.librae.adminconfig.model.TipoVia" />
        <mapping class="org.librae.adminconfig.model.Direccion" />
        <mapping class="org.librae.adminconfig.model.Biblioteca" />
        <mapping class="org.librae.adminconfig.model.TipoBiblioteca" />
        <mapping class="org.librae.adminconfig.model.TipoIdentificacion" />
        <mapping class="org.librae.adminconfig.model.Tratamiento" />
        <mapping class="org.librae.adminconfig.model.UsuarioBibliotecaRol" />
        <mapping class="org.librae.adminconfig.model.Catalogo" />
        <mapping class="org.librae.adminconfig.model.Calendario" />
        <mapping class="org.librae.adminconfig.model.Festivo" />
        <mapping class="org.librae.adminconfig.model.TipoPermiso" />
        <mapping class="org.librae.adminconfig.model.Horario" />
        <mapping class="org.librae.adminconfig.model.HorarioInt" />
        <mapping class="org.librae.adminconfig.model.Moneda" />
        <mapping class="org.librae.adminconfig.model.Menu" />
        <mapping class="org.librae.adminconfig.model.Parametro" />
        <mapping class="org.librae.adminconfig.model.ParametroBiblioteca" />
        <mapping class="org.librae.adminconfig.model.Codigo"/>
        <mapping class="org.librae.adminconfig.model.ValorCodigo"/>
        <mapping class="org.librae.adminconfig.model.AsignacionValorCodigo"/>
        <mapping class="org.librae.adminconfig.model.TipoCodigo"/>
        <mapping class="org.librae.adminconfig.model.FavoritoUsuario"/>
        <mapping class="org.librae.adminconfig.model.Modulo"/>
        <mapping class="org.librae.adminconfig.model.GrupoFuncional"/>
        <mapping class="org.librae.adminconfig.model.BibliotecaView"/>

  </session-factory>
</hibernate-configuration>