<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <mapping class="org.tennisclub.manager.model.Socio"/>
        <mapping class="org.tennisclub.manager.model.Pista"/>
        <mapping class="org.tennisclub.manager.model.Contacto"/>
        <mapping class="org.tennisclub.manager.model.Llamada"/>
    </session-factory>
</hibernate-configuration>
