<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

 <!-- Register PayloadRootAnnotationMethodEndpointMapping -->  
    <!-- bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping" / -->  
    
    <!-- no 'id' required, EndpointMapping beans are automatically detected by the MessageDispatcher -->
    <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
        <property name="mappings">
            <props>
                <prop key="{http://horario.ws.librae.org/}consultaType">horarioEndpoint</prop>
            </props>
        </property>
        <property name="interceptors">
    <bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
  </property>
        
    </bean>


   <!-- Add automatic WSDL generation support -->  
    <bean id="horarios" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">  
        <property name="schema" ref="schema" />  
        <property name="portTypeName" value="services/horarios" />  
        <property name="locationUri" value="${profile.server.protocol}://${profile.server.host}:${profile.server.port}/${webapp.path.adminconfig}/services/horarios" />  
        <property name="targetNamespace" value="http://horario.ws.librae.org/" />  
    </bean>  
  
    <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">  
        <property name="xsd" value="/WEB-INF/spring/ws/horarios.xsd" />  
    </bean>  
 
  <bean id="horarioService" class="org.librae.adminconfig.webapp.ws.service.impl.HorarioServiceImpl">
        <description>
            This bean is our "business" service.
        </description>
        <property name="horarioManager" ref="horarioManager"/>
        <property name="bibliotecaManager" ref="bibliotecaManager"/>
    </bean>
  
    <bean id="codBibliotecaExpression"
    	class="org.springframework.xml.xpath.XPathExpressionFactoryBean">
    	<property name="expression" value="//lib:codBiblioteca"/>
    	<property name="namespaces">
    		<props>
    			<prop key="lib">http://horario.ws.librae.org/</prop>
    		</props>
    	</property>
    </bean> 
    
      <!-- Configure XML Marshaller -->  
    <!-- bean class="org.springframework.ws.server.endpoint.adapter.GenericMarshallingMethodEndpointAdapter">  
        <constructor-arg ref="marshaller" />  
    </bean -->  
  
  	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller" >
		<property name="contextPath" value="org.librae.adminconfig.webapp.ws.dto"/>
	</bean>

  	<bean class="org.springframework.ws.soap.server.endpoint.SimpleSoapExceptionResolver"/>

	<!-- Register Endpoint -->  
    <bean id="horarioEndpoint" class="org.librae.adminconfig.webapp.ws.endpoint.HorarioEndPoint">
    <description>
            This endpoint handles requests.
        </description>
        <property name="horarioService" ref="horarioService"/>
        <property name="jaxb2Marshaller" ref="jaxb2Marshaller"/>
        <property name="codBibliotecaXPath" ref="codBibliotecaExpression"/>
    </bean>
  
</beans>